/* 全体の設定 */
body{
  margin: 0;
  color: #606470;
}
h1{
  margin: 0;
  font-family:Gorditas; cursive;
}
h2{
  margin: 0;
}
/* ページ上部 メインタグ内 */
.logo img{
  width: 150px;
}
a{
  text-decoration: none;
  color: #606470;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
}
.header-nav-list {
  display: flex;
  list-style: none;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}
div h1,p{
  margin: 0;
}

/* commit～文 */
.main{
  padding-bottom: 50px;
}
.lead{
  position: absolute;
  top: 150px;
  left: 50px;
  color:#a72d5a ;
  font-size: 30px;
  margin-bottom:50px ;
}
/* 色違う文字 */
span{
  color:#009fae;
}
/* リード文下の小文字 */
.lead-inc{
  position: absolute;
  top: 350px;
  left: 50px;
  color: #606470;
}

/* リード文にかぶる画像 */
div.lead-img{
  max-width: 80%;
  margin-left: auto;
  margin-right: 0px;
}

/* News～ */
section.news{
  width: 100%;
  padding-bottom: 50px;
}
.news-head{
  margin: 10px;
}
.news-head-table{
  width: 50%;
  margin:auto;
}
.news-h1{
  color: #a72d5a;
  font-size: 15px;
  margin-bottom: 5px;
}
/* 新着情報の表 */
.news-table-title{
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.news-table{
  border-top: 3px solid #e4e4e4 ;
  border-bottom: 3px solid #e4e4e4 ;
  width: 800px;
  /* margin-right:auto ;
  margin-left: auto; */
  padding-bottom: 50px;
}
.news-table,td{
  border-bottom: 1px solid #e4e4e4;
}

.news-table,th{
  padding-bottom: 30px;
}
.news-rable td span{
  text-align: center;
}
.news-table th{
  font-size: large;
}

/* 表のボタン設定 */
.btn{
  width: 80%;
  height: 20px;
  text-align: center;
  display: inline-block;
  background-color: #a72d5a;
  padding: 5px 10px ;
  border-radius: 20px;
  color: #fff;
}

/* aboutの下 */
section.about{
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 50px;
}
.about-container{
  display: flex;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.about-h1{
  color: #a72d5a;
  font-size: 15px;
  margin-top: 50px;
  text-align: center;
}
/* aboutの下 technology×Coaching */
.about-h2{
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}
.text{
  margin-bottom: 20px;
}
.abouttext{
  margin-bottom: 50px;
  margin-right: 100px;
}
/* aboutの下画像 */
.about-img{
  width: 300px;
}

/* serviceより下 */
.service-h1-h2{
  margin-left: auto;
}
section.service{
  padding-top: 50px;
  padding-bottom: 50px;
}
.service-h1{
  color: #a72d5a;
  font-size: 15px;
}
/* サービス内容の文字 */
.service-h2{
  padding: 10px;
  font-size: 20px;
}

/* serviceの画像３つ */
.service img{
  width: 200px;
}
/* serviceのコンテイナー３つ分 */
.service-container{
  display: flex;
  margin: 50px;
}

/* 左に１つ */
div.service-container-item1{
  background-color: #b31667;
  color: #fff;
  width: 50%;
  flex: 1;
}
 
/* 縦並び２つ */
.service-right{
  width: 50%;
  flex-direction: column;
  flex:1;
}
.service-container-item2{
  display: flex;
  background-color: #b35b8b;
  color: #fff;
  align-items: center;
}
.service-h3-p{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service-container-item3{
  background-color: #b2889e;
  color: #fff;
  align-items: center;
  display: flex;
}

/* 画像１の個別設定 */
.service-img1{
  margin: 30px 30px 0px 30px;
}
/* 画像２と３の設定 */
.service-img23{
  margin: 20px ;
  float: left;
}

/* ブログから下 */
/* ブログ下 全体の設定 */
.blog{
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}
h1.blog-h1{
  margin-bottom: 5px;
  color: #a72d5a;
  font-size: 15px;
  text-align: center;
}
/* カタカナブログの文字 */
.blog-h2{
  margin-bottom: 50px;
  text-align: center;
}
/* カード全体の設定 */
.blog-container{
  justify-content: center ;
  display: flex;
}
/* カード１こ１この設定 */
.blog-card{
  background-color: #fff;
  margin-right: 50px;
  padding-bottom:30px ;
  width:300px;
  border-radius: 10px;
  position: relative;
}

/* カード内の画像 */
img.blog-img{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

/* ブログ画像の上のBlogの文字 */
.card-tag{
  margin: 0;
  background-color: #a72d5a;
  color: #fff;
  font-weight: normal;
  padding: 5px 10px;
  border-radius: 10px 0 0 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* プログラミング学習～本文 */
.blog-text{
  padding: 15px 15px 30px 15px;
  font-weight: bold;
}
/* 2021/01～日付 */
p.date{
  display: inline;
  padding: 15px 15px 30px 15px;
}
/* ＃COACHTECHリンク */
.blog-card-a{
  float: right;
  padding-right: 30px;
}

/* 一覧ページボタン */
.blog-btn{
  display: block;
  width: 200px;
  margin-top: 20px ;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #fff;
  border: 2px solid #a72d5a;
  color: #a72d5a;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 10px;
}

/* Companyより下 */
/* Compan部分全体の設定 */
.company-h1{
  color: #a72d5a;
  font-size: 15px;
  margin-top: 80px;
}
/* 会社概要とCompanyの文字 */
.company-h1-title{
  width: 50%;
  margin: auto;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 30px;
}

/* 会社概要表 */
.company-table{
  width: 800px;
  margin-right:auto ;
  margin-left: auto;
  margin-bottom:50px ;
  border: 1px solid #e4e4e4;
}
.company-table th {
	background:#e4e4e4;
    font-weight: bold;
}
.company-table th,td{
  padding: 10px 10px;
  text-align: left;
}

/* 背景画像＋りんく */
.info {
  padding-bottom: 50px;
  display: flex;
}
.info a{
  color: #fff;
  font-size: 25px;
}
.info span{
  text-align: center;
}

a.recruit-url{
  background-image: url(../img/recruit.png);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 200px;
}
a.interview-url{
  background-image: url(../img/interview.png);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 200px;
}

/* お問い合わせ欄 */
section.contact{
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
}

img.contact-mail{
  width: 30px;
  vertical-align:middle;
}
div.contact-btn{
  width: 200px;
  box-shadow: 10px 5px rgba;
  color: #fff;
  background-color: #a72d5a;
  border-radius: 15px;
  margin :0 auto;
  margin-top: 30px;
  padding: 5px 20px;
}
a.contact-url{
  color: #fff;
  vertical-align:middle;
}
.input{
  margin: auto;
  height: 20px;
  width: 1px;
  background-color: #a72d5a;

}


/* a.input:hover{ */
  /* cursor: text; */
/* } */

/* footerたぐ */
footer{
  text-align: center;
  padding: 30px;
  background-color: #f5f5f5;
}